/* общее */
body{
	width: 100vw;
	font-family: 'ProximaNova';
	font-size: 2rem;
}
.green{
	background-color: #028B6A;
}
.blue{
	background-color: #026FAF;
}
.yellow{
	background-color: #FDA510;
}
.red{
	background-color: #EF591A;
}
.black{
	background-color: black;
}
.white{
	background-color: white;
}
.border{
	border: solid medium;
}
.text{
	margin-left: 2vw;
	text-decoration: none;
	color: black;
}
.attention{
	width: 90vw;
	height: 25vw;
	background-color: white;
	border: solid black medium;
	display: none;
}
a{
	color: black;
}
.about:hover{
	background-color: #028B6A;
}
.shop:hover{
	background-color: #FDA510;
}
.workroom:hover{
	background-color: #EF591A;
}
.projects:hover{
	background-color: #026FAF;
}
.header > div > a {
	width: 100%;
}

/* хэдер */
.header{
    display: flex;
    justify-content: space-evenly;
	height: 4vw;
    margin-top: 1.5vw;
    margin-bottom: 1vw;
}
.header > .border{
	display: flex;
	align-items: center;
	height: 100%;
	width: 23vw;
}
/* тело */
.main{
	display: flex;
	flex-direction: row;
	padding-left: 2vw;
	padding-right: 2vw;
	width: 95%;
	height: 40vw;
}
.main > div{
	width: 100%;
	height: 12vw;
}
.mask_w{
	margin-top: 5vw;
}
.mask_g{
	margin-top: 20vw;
}
.mask_y{
	margin-top: 15vw;
}
.mask_b{
	margin-top: 25vw;
}
.hide{
	position: relative;
	animation: show 1s linear;
	animation-fill-mode: none;
	height: 115%;
	width: 100%;
	z-index: -1;
}
/* анимация на главном экране */
.mask_w:hover .hide{
	animation: hide 0.5s linear;
	animation-fill-mode: both;
}
.mask_g:hover .hide{
	animation: hide 0.5s linear;
	animation-fill-mode: both;
}
.mask_y:hover .hide{
	animation: hide 0.5s linear;
	animation-fill-mode: both;
}
.mask_r:hover .hide{
	animation: hide 0.5s linear;
	animation-fill-mode: both;
}
.mask_b:hover .hide{
	animation: hide 0.5s linear;
	animation-fill-mode: both;
}
@keyframes hide{
	0%{
		top: 0vw;
	}
	100%{
		top: 12vw;
	}
}
@keyframes show{
	0%{
		top: 12vw;
	}
	100%{
		top: 0vw;
	}
}
.white_mask{
	background-image: url(../img/mask_w.svg);
	background-size: 100% auto;
	margin: auto;
	height: 100%;
	width: 95%;
}
.green_mask{
	background-image: url(../img/mask_g.svg);
	background-size: 100% auto;
	margin: auto;
	height: 100%;
	width: 95%;
}
.red_mask{
	background-image: url(../img/mask_r.svg);
	background-size: 100% auto;
	margin: auto;
	height: 100%;
	width: 95%;
}
.yellow_mask{
	background-image: url(../img/mask_y.svg);
	background-size: 100% auto;
	margin: auto;
	height: 100%;
	width: 95%;
}
.blue_mask{
	background-image: url(../img/mask_b.svg);
	background-size: 100% auto;
	margin: auto;
	height: 100%;
	width: 95%;
}
.hole{
	background-image: url(../img/ellipse.svg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	position: relative;
    height: 19%;
    margin-top: -1vw;
    z-index: -2;
}
.hole2{
	background-image: url(../img/ellipse3.svg);
	background-size: 100% auto;
	background-repeat: no-repeat;
    position: relative;
    margin-top: -1.1vw;
    height: 100%;
}

/* футэр */
.footer{
	display: flex;
	flex-direction: row;
	background-color: black;
	height: 27vw;
	width: 100vw;
	position: absolute;
	z-index: +1;
}
.form{
	display: flex;
	flex-direction: column;
	width: 40vw;
	height: 100%;
	margin-top: 2vw;
}
input{
	font-family: 'ProximaNova';
	font-size: 1.5rem;
	text-indent: 1vw;
	width: 100%;
	margin: 1vw 0 0 1vw;
	height: 3vw;
}
.button{
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'ProximaNova';
	font-size: 1.5rem;
	width: 40%;
	margin: 1vw 0 0 1vw;
	height: 3vw;
	border: #EF591A solid medium;
}

.message{
	background-color: white;
	width: 40vw;
	height: 10vw;
	padding: 1vw;
	margin: 5vw 0 0 17vw;
}
.message > h1{
	margin-top: 2vw;
	text-align: center;
}
.hidden{
	visibility: hidden;
}